html,body {
    margin: 0;
    padding: 0;
}

#primebackground {
    background-image: repeating-radial-gradient(#f8f4f4, #ebdaabb7);
}

#webheader {
    display: flex;
    justify-content: space-between;
    background-color:rgb(158, 117, 55);
    height: 5vw;
    width: 100vw;
    align-items: center;
    padding: 10px 0 10px 10px;
}

#tempatlogo {
    display: flex;
    font-family: 'Festive', cursive;
    font-size: 80px;
    height: 100%;
    padding-top: 20px;
    align-items: center;
    color: whitesmoke;
    padding-left: 20px;
}

#navigasi {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 35vw;
    height: 100%;
    align-items: center;
    background-color: inherit;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.about {
    float: left;
    text-decoration: none;
    font-size: 70px;
    color: whitesmoke;
}

.about:hover {
    background-color: coral;
}
.aboutisi {
    display: none;
    position: absolute;
    background-color: #e4b160e5;
    box-shadow: 0 8px 8px 8px 0 #3d382cb7);
}

.aboutisi a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 25px;
    padding: 20px 30px 20px;
}

.aboutisi a:hover {
    background-color: rgb(158, 117, 55);
}

.about:hover .aboutisi {
    display: block;
}

.contact {
    float: left;
    text-decoration: none;
    font-size: 70px;
    color: whitesmoke;
}

.contact:hover {
    background-color: coral;
}

#utama {
    width: 100vw;
    background-image: url(../shabrina27.github.io/assets/Mountain\ view.png);
    background-repeat: repeat-y;
}

#image {
   display: flex; 
   margin-top: 0; 
   padding: 15px 0 20px 20px;
   justify-content: center;
}

#sapaanitali {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 36vh;
    margin: 0;
    color: saddlebrown;
}

#ringkasan {
    width: 43vw;
    font-family: 'Lobster', cursive;
    font-size: 6.5vh;
    padding-top: 0;
    padding-left: 20px;
    color: saddlebrown;
}

.isiringkasan {
    margin: 0;
}

.myname:hover {
    background-color: salmon;
}

.nam-per {
    text-decoration: none;
    color: saddlebrown;
}

#myimage {
    border-radius: 50%;
    width: 70vh;
    height: 80vh;
    padding-left;: 100px
}

#judulper-dir {
    display: flex;
    font-family: 'Lobster', cursive;
    color: saddlebrown;
    border-style: groove;
    border-color: saddlebrown;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    width: 35vw;
    margin: 100px 0px 5px 20px;
}

#isiper-dir {
    display: flex;
    width: 95vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    background-image: repeating-radial-gradient(#f8f4f4, #ebdaabb7);
    opacity: 0.8;
    font-family: 'Uchen', serif;
    font-weight: bold;
    color: rgb(83, 43, 14);
    font-size: 3.7vh;
    border-style: groove;
    border-color: saddlebrown;
}

#judulbckgrn {
    display: flex;
    font-family: 'Lobster', cursive;
    color: saddlebrown;
    border-style: groove;
    border-color: saddlebrown;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    width: 35vw;
    margin: 100px 0px 5px 20px;
}

#isibckgrn {
    display: flex;
    width: 95vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    background-image: repeating-radial-gradient(#f8f4f4, #ebdaabb7);
    opacity: 0.8;
    font-family: 'Uchen', serif;
    font-weight: bold;
    color: rgb(83, 43, 14);
    font-size: 3.7vh;
    border-style: groove;
    border-color: saddlebrown;
}

#judulcer-un {
    display: flex;
    font-family: 'Lobster', cursive;
    color: saddlebrown;
    border-style: groove;
    border-color: saddlebrown;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    width: 35vw;
    margin: 100px 0px 5px 20px;
}

#isibckgrn {
    display: flex;
    width: 95vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    background-image: repeating-radial-gradient(#f8f4f4, #ebdaabb7);
    opacity: 0.8;
    font-family: 'Uchen', serif;
    font-weight: bold;
    color: rgb(83, 43, 14);
    font-size: 3.7vh;
    border-style: groove;
    border-color: saddlebrown;
}

#buttonatas {
    position: fixed;
    right: 0;
    bottom: 100px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    border: none;
    text-decoration: none;
    font-size: 70px;
}

.tombolatas{
    text-decoration: none;
}

.panahatas {
    color:black;
    opacity: 0.5;
}

#bawah {
    display: flex;
    height: 10vw;
    width: 100vw;
    background-color: burlywood;
    font-family: 'Uchen', serif;
    color: rgb(83, 43, 14);
    justify-content: center;
    font-size: 3.5vh;
}

#gmbrlinkedin {
    display: flex;
    width: 5vw;
    height: 5vw;
}
#kontak {
    display: flex;
    width: 100%;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    #webheader {
      background-color: lightblue;
    }
  }
